.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark {
  mark {
    color: #222;
    background-color: #e6e6e6;
  }

  a {
    color: #477dca;
  }
}

.dark {
  h3 {
    border-bottom: solid 3px #e6e6e6;
  }
}